<!DOCTYPE HTML>
<html>
    <head>
        <title><%= TITLE %></title>
        <meta name="author" content="Anton Pirogov" />
        <meta name="description" content="<%= TITLE %>" />

        <link href="<%= url('ui-lightness/jquery.ui.all.css') %>" rel="stylesheet" type="text/css" />
        <link href="<%= url('jquery-ui-timepicker-addon.css') %>" rel="stylesheet" type="text/css" />

        <link href="<%= url('nodestats.css') %>" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <script type="text/javascript" src="<%= url('jquery-1.8.2.min.js') %>"></script>
        <script type="text/javascript" src="<%= url('jquery-ui-1.8.24.custom.min.js') %>"></script>
        <script type="text/javascript" src="<%= url('jquery-ui-timepicker-addon.js') %>"></script>
        <script type="text/javascript" src="<%= url('nodestats.js') %>"></script>
    </head>
    <body>
        <h1 id="title"><%= TITLE %></h1>

        <div id="status"></div>

        <div id="ui"><form id="frm">
          Von:
          <input id="from" />
          Bis:
          <input id="to" />
          <br />
          Router:
          <select id="routers"></select>
          <input id="rtimeline" type="button" value="Timeline" />
          <input id="rload" type="button" value="Auslastung" />
          <br />
          Alle Router:
          <input id="runique" type="button" value="Anzahl untersch. Clients" />
          <input id="raverage" type="button" value="Durchschn. Anzahl Clients" />
          <br />
          Clients:
          <select id="clients"></select>
          <input id="ctimeline" type="button" value="Timeline" />
        </form></div>

        <div id="chart" />

        <div id="footer">
        <span class="link">© 2012 Anton Pirogov</span>
        <a class="link" href="http://github.com/apirogov/ffnodestats">ffnodestats source</a>
        </div>
    </body>
</html>
